!!! 5
%html{:lang => "en"}
  %head
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :charset => "utf-8" }
    %title= @title || 'NCAA Football Title Belt Analyzer'
    %link{ :rel => "stylesheet", :href => "/stylesheets/application.css" }
  %body
    .container
      .nav
        .pure-menu.pure-menu-open.pure-menu-horizontal
          %ul
            %li
              %a{ :href => "/" } Home
      .main
        = yield
